body {
background-color: #17181C;
color: #F8F8F9; 
font-family: sans-serif;
margin: 1em;
}
a { 
color: #85BEFF;
}
h2, h3, h4, h5, h6 {

border-bottom: 1px solid #F8F8F9;
padding: 1rem;

}

.nav-menu {
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.25rem;
    top: 0;
background-color: #85BEFF;
border-radius: 2px;
}


.nav-menu-item {
 border: 1px solid #85BEFF;
 padding: 0.5rem;
 border-radius: 2px;
color: #17181C;

}

.nav-menu-item a {
color: #17181C;
text-decoration: underline;
font-size: 1.5rem; 
font-weight: 900;
}