/* Pagination */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed var(--border-color);
    font-size: 14px;
}
.page-link {
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: bold;
}
