/* root stuff */
:root {
    --pop-color: rgb(28, 28, 30);
    --text-color: white;
    --background-clr: rgb(28,28,30);
    --accent-clr: rgb(120, 185, 249);
    --accent-clr-hvr: rgb(179, 215, 250);


}

/* end of root */


/* start of default  styling for html tags */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
    color: white;
    font-family: monospace;
    font-size: 1.1rem;
}
h1 {
    text-align: center;
}
li {
    margin-bottom: 0.25rem;
}
p {
    margin: 0;
}

/* link styling */
a {
    color: var(--accent-clr);
    text-decoration: none;
    font-family: monospace;
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

a:hover {
    text-decoration: underline;
    color: var(--accent-clr-hvr);
}
/* end link styling */

/* end of default  styling for html tags */


/* Image styling */
.image-rounded {
    display: block;
    margin: auto;
    width: 50%;
    padding: 2rem;
    border-radius: 10%;
}
/* end of Image styling */


/* makes whole content appear in middle */
.main-content {
    max-width: 900px;
    margin: auto;
    padding: 1.1rem;
}
/* start of navbar styling */
.nav-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background-color: var(--accent-clr);
    padding: 1rem;
    top: 0;
}
.nav-menu-item > a {
    color: var(--background-clr);
    padding: 0.25rem;
}
.nav-menu-item > a:hover {
    background-color: var(--background-clr);
    color: var(--accent-clr);
    text-decoration: none;
}
/* end  of navbar styling */


/* footer styling */
.footer {
    font-size: 0.85rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    align-items: center;
    flex-direction: column;
}
.footer > img {
    width: min-content;
}
.footer-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
}
/* end of footer styling */

.center-text {
    text-align: center;
}

/*quote on front page */
.quote {
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
    margin: auto;
    font-style: italic;
}
.quote::before {
    content: open-quote;
}
.quote::after {
    content: close-quote;
}
@media (min-width: 600px) {
    .nav-menu {
        position: sticky;
    }
}