body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-size-adjust: 0.5;
    font-family: "Lora", "Palatino Linotype", "Book Antiqua", "New York", "DejaVu serif", serif;
    background-color: #fff;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

header {
    margin: 1em;
}

body#post header {
    margin: 0 auto;
    padding: 1em 2rem;
    opacity: 0.4;
    transition: opacity 0.4s;
}

body#post header:hover {
    opacity: 1;
}

header h1,
header nav {
    display: inline;
}

header h1 a {
    color: #000;
    transition: color 0.2s;
}

header h1 a:hover {
    color: #303030;
    text-decoration: none;
}

header nav {
    margin: 0 1em;
    line-height: 2.4em;
    font-family: "Open Sans", "Segoe UI", Tahoma, Arial, sans-serif;
}

header nav a {
    color: #767676;
    margin: 0 0 0 1em;
}

header nav a:hover {
    text-decoration: underline;
}

header p.description {
    color: #444;
    font-size: 1.1em;
    margin-top: 0.5em;
    line-height: 1.5;
}

hr {
    height: 1px;
    background: #ccc;
    max-width: 40em;
    margin: 4em auto;
    border: 0;
}

#post #wrapper,
#post pre {
    max-width: 40em;
    margin: 0 auto;
}

#post article,
#post pre {
    max-width: 40em;
    margin: 0 auto;
    padding: 0.5em 2rem 1.5em;
    font-size: 1.2em;
}

#post article.norm {
    line-height: 1.5;
    white-space: normal;
}

#post article h1,
#post article h2,
#post article h3 {
    line-height: 1.2;
}

#post article h2#title {
    font-size: 1.5em;
    display: block;
    margin: 0 0 1em;
}

#post article p {
    margin: 0 0 1em;
}

#post article ul,
#post article ol {
    margin: 1.25em 0;
    padding-left: 1.5em;
}

#post article li {
    margin: 0 0 0.4em;
}

#post article img,
#post audio,
#post video {
    max-width: 100%;
}

#post blockquote {
    border-left: 4px solid #ddd;
    padding: 0 1em;
    margin: 0.5em 0;
    color: #767676;
}

#post blockquote p {
    margin: 0.5em 0;
}

#post code {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 0.2em 0.4em;
    font-size: 0.86em;
    border-radius: 0.25em;
    font-family: Hack, consolas, Menlo, Monaco, "Ubuntu Mono", monospace;
}

#post pre {
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 0.375em 0.625em;
    font-size: 0.86em;
    border-radius: 0.25em;
    overflow-x: auto;
}

#post pre code {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#post article .authors,
#post article time.dt-published {
    display: block;
    color: #666;
    margin-bottom: 1em;
}

#post article .authors {
    margin: 0.25em 0;
}

.post-tags {
    margin-top: 1.5em;
}

a.hashtag {
    color: #333;
}

a.hashtag span:first-child {
    color: #999;
    margin-right: 0.1em;
    font-size: 0.86em;
    text-decoration: none;
}

a.hashtag:hover span + span {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 0 2em;
}

footer nav {
    margin: 3em 0 4em;
    color: #444;
    font-family: "Open Sans", "Segoe UI", Tahoma, Arial, sans-serif;
}

footer nav a {
    display: inline-block;
    margin-top: 0.8em;
    color: #999;
    text-decoration: none;
}

footer nav a + a {
    margin-left: 0.8em;
}

footer nav a:hover {
    color: #666;
    text-decoration: none;
}

footer nav a.home {
    color: #333;
    font-weight: 700;
}

footer nav a.home:hover {
    color: #000;
}

@media (max-width: 600px) {
    body#post header {
        padding: 1em;
    }

    #post article,
    #post pre {
        padding: 0.5em 1.25em 1.25em;
        font-size: 1.05em;
    }
}
