/* Hugo-specific overrides for Write.as styles */
body#post {
    max-width: none;
    margin: 0;
    padding: 0;
}

body#post #post article {
    white-space: normal;
    line-height: 1.5;
}

body#post #post article h1,
body#post #post article h2,
body#post #post article h3,
body#post #post article h4,
body#post #post article h5,
body#post #post article h6,
body#post #post article p,
body#post #post article ul,
body#post #post article ol,
body#post #post article blockquote,
body#post #post article pre,
body#post #post article table {
    display: block;
    margin: 0 0 1em;
}

body#post #post article ul,
body#post #post article ol {
    padding-left: 1.5em;
}

body#post #post article li {
    margin: 0 0 0.4em;
}

body#post #post article img {
    display: block;
    margin: 1em auto;
}

body#post #post article h2#title {
    margin: 0 0 0.75em;
}

body#post #post .post-tags {
    margin-top: 1.5em;
}

body#post #post .post-tags a.hashtag {
    margin-right: 0.5em;
}
