:root {
        --bg-color: #072448;
        --link-color: #ffcb00;
        --text-color: white;
        --button-color: #543c52;
        --heading-color: #f8aa4b;
        --visited-color: #000000;
        --button-text: #543c52;
        --divider-color: #edd2cb;
        --footer-color: #361d32;
        --warning-color: #54d2d2;
        --hover-color: #f8aa4b;
        --hover-heading-color: #ff6150;
}


@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.ttf');
  font-family: 'HelveticaRounded-Bold';
  src: url('fonts/HelveticaRounded-Bold.otf');
}


.heading {
           text-align: center;
           color: var(--heading-color);
           font-family: 'StandardBold';
    font-weight: bold;
           
}
.heading:hover {
    color: var(--hover-heading-color);
}

body {
       background-color: var(--bg-color);
       padding-top: 50px;
       padding-bottom: 50px;
       padding-right: 25px;
       padding-left: 25px;
       color: var(--text-color);
       font-size: 150%;
       height: 95vh;
}

.menu {
        display: inline;
        padding-left: 14px;
        padding-right: 14px;

}

.menu-link:hover {
    color: var(--hover-heading-color);
    
}

ul {
     text-align: center;
}

a {
     color: var(--link-color);
}
p {
    font-family: 'OpenSauceSansRegular';
    font-weight: normal;
    font-style: normal;
    padding-right: 15px;
    padding-left: 15px;

}
.warning {
           color: var(--warning-color);
           text-align: center;
}
h2 {
    text-align: center;
    font-family: 'StandardBold';
    font-weight: bold;
}
li {
    font-family: 'ReadinessRegular';
}
a:link { text-decoration: none; }
a:visited { text-decoration: none;
    
}
a:hover { text-decoration: underline;
          color: var(--hover-color);
   
}
a:active { text-decoration: wavy; }

h3 {
    font-family: 'StandardBold';
}
.contact-list {
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}
.buttonbooks {
    background-color: var(--button-color);
    border: none;
    color: var(--button-text);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 5%;
}
.buttonbooks:hover {
    background-color: #087eae;
    color: white;
    border-radius: 15%;
}

.blacklink {
             color: black;
             text-decoration: underline overline black;

}
.blacklink:hover {
    font-size: 25px;
}
.center {
          text-align: center;

}
/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

hr {
    height: 3px;
    background-color: var(--divider-color);
    border-radius: 3px;
}
.blog-home {
				
				color: var(--link-color);
			
				
				
}

.date {
				font-size: 70%
				
}

.footer {
				      text-align:center;
				      font-size: 50%;
				      position: fixed;
				      left: 0;
				      botton: 0;
				      width: 100%;
				      color: var(--footer-color);
				
}
.button-book {
				           text-align:center;
				           
}
.button-decoration {
				border: 3px solid var(--button-color);
  background-color:var(--bg-color);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px #543c52;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;

}

.footer-home {
				text-align:center;
				font-size: 50%;
}

.button-text {
               color: var(--button-color);
}

.button{
				cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
				
}
.button:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-decoration:hover .button {
				padding-right: 25px;
}
.button-decoration:hover .button:after {
  opacity: 1;
  right: 0;
}
.align-left {
                text-align:left;
}
.description {
    font-size: 0.7em;
}
