@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.ttf');
  font-family: 'HelveticaRounded-Bold';
  src: url('fonts/HelveticaRounded-Bold.otf');
}


.heading {
           text-align: center;
           color: white;
           font-family: 'StandardBold';
    font-weight: bold;
           
}

body {
       background-color:rgb(44, 44, 46);
       padding-top: 50px;
       padding-bottom: 50px;
       padding-right: 25px;
       padding-left: 25px;
       color: white;
       font-size: 150%;
       height: 95vh;
}

.menu {
        display: inline;
        padding-left: 14px;
        padding-right: 14px;

}

ul {
     text-align: center;
}

a {
     color: rgb(10, 132, 255);
}
p {
    font-family: 'ReadinessRegular';
    padding-right: 15px;
    padding-left: 15px;

}
.warning {
           color: rgb(255, 69, 58);
           text-align: center;
}
h2 {
    text-align: center;
    font-family: 'StandardBold';
    font-weight: bold;
}
li {
    font-family: 'ReadinessRegular';
}
a:link { text-decoration: none; }
a:visited { text-decoration: none;
    color: rgb(o, 64, 221);
}
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

h3 {
    font-family: 'StandardBold';
}
.contact-list {
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}
.buttonbooks {
    background-color: rgb(48 209 88); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.buttonbooks:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.blacklink {
             color: black;
             text-decoration: underline overline black;

}