@font-face {
  font-family: 'Helvetica';
  src: url('fonts/Helvetica.ttf');
  font-family: 'HelveticaRounded-Bold';
  src: url('fonts/HelveticaRounded-Bold.otf');
}


.heading {
           text-align: center;
           color: white;
           font-family: HelveticaRounded-Bold;
           
}

body {
       background-color:rgb(44, 44, 46);
       padding-top: 50px;
       padding-bottom: 50px;
       padding-right: 25px;
       padding-left: 25px;
       color: white;
       font-size: 200%;
       height: 95vh;
}

.menu {
        display: inline;
        padding-left: 14px;
        padding-right: 14px;

}

ul {
     text-align: center;
}

a {
     color: rgb(10, 132, 255);
}
p {
    font-family: 'ReadinessRegular';

}
.warning {
           color: rgb(255, 69, 58);
}