:root {
        --author-color: #AEAEAE;
        /* background color refers to the background of the webpage and its greyish */
        --background-color: rgb(44,44,46);
       
}

body {

       font-size: 1.7vw;
       background-color: rgb(44,44,46);
       color:white;
       padding: 5vw 5vw 5vw 5vw;
       font-weight: regular;
           font-family: Helvetica;
}
h1 {

     font-size:5vw;
     
}
p {
   
}
.menu {
        font-family: 'Dosis', sans-serif;
}
.date {
        font-size:1.2vw;
        color: grey;
}
a{
  color: yellow;
}
h3 {
    font-size:3vw;
}
::selection {
    color: black;
    background: yellow;
  }

h5 {
    font-size: 1.8vw;
}
.li-link {

}
/* This changes links in contact page only */
.contact-link {
    font-family: 'Dosis', sans-serif;
    font-size: 2.3vw;
}
/* This is the end text in book page */
.end {
    text-align: center;
    color: yellow;
    font-weight: bolder;
}
.end-hr {
    border: 0.5vw dotted;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}
.author {
            color: var(--author-color);
}
/* The following ID is used only for making animation at the front page*/
#typing-text {
     color: #FFFFFF;
     border: none;
     font-style: italic;
     font-weight: bold;
     text-align: left;
     font-family: Arial, Helvetica, sans-serif;
     overflow: auto;
     background-color: var(--background-color);
     font-size: 6vh;
     padding: 2vh;
     height: 12vh;
     width: 200vh;
     transform: rotateX(10deg);
     transform-origin: 50% 50% 0px;
     outline: none;
     resize: none;
     box-sizing: border-box;
}
