:root {
        --author-color: #AEAEAE;
        /* background color refers to the background of the webpage and its greyish */
        --background-color: rgb(28,28,30);
        --text-normal: #dcddde;
        --accent-link: rgb(50,215,75 );
        --yellow: rgb(255,214,10);
        --light-blue: rgb(90,200,245);
        --warning: rgb(255,69,58);
        --heading-red: rgb(255,55,95);
        --gray3: rgb(72,72,74);
        --gray4: rgb(58,58,60);
        --gray5: rgb(44,44,46);
        --white-gray2: rgb(174,174,178);
        --white-gray: rgb(142,142,147);
        --white-gray3: rgb(199,199,204);
}


body {
       background-color: var(--background-color);
      color: var(--text-normal);
      padding: 1em;
      margin: 0;
      font-family: sans-serif;
      font-display: fallback;
      line-height: 1.5em;
      font-size: 1.2em;
}


/* Heading tags styling */
h1 {
     font-family: serif;
     color: rgb(255,55,95); 
     animation: logo 10s infinite both;
     top: 0;
     display:inline-block;   
}
h2{
  font-family: Verdana, Geneva, Tahoma, serif;
  color: var(--light-blue);
  line-height: 1.3;
}
h3 {
  font-size:5vmin;
font-family: serif;
}
h5 {
  font-size: 1.25em;
font-family: serif;
line-height: 150%;
}
/* End */



/* This animation only applies to the logo */
@keyframes logo {
				0% {
					color: var(--warning);
				
					}
					20% {
						color: var(--yellow);
						}
						40% {
							color: var(--accent-link);
							}
							60% {
								color: var(--light-blue);
								}
								80% {
									color: white
                }
									100% {
										color: var(--heading-red);
										}
}
hr {
     color: var(--yellow);
}

.menu-div {
			padding-top: 7vmin;
}
.date {
        font-size:1em;
        color: grey;
}


/* This part is for styling <a> tags */


a{
  color: var(--accent-link);
  text-decoration: none;
}
a:hover { 
  text-decoration: underline;
  text-underline-offset: 20%;
}

/* This changes links in contact page only */
.contact-link {
  font-family: serif;
  font-size: 2.1em;
  text-shadow: 2px 2px 2px rgb(72,72,74),
         2px 2px 2px var(--warning) ;
text-decoration:underline;
}


/* End of styling <a> tags */



::selection {
    color: black;
    background: var(--yellow);
  }



/* This is the end text in book page */
.end {
    text-align: center;
    color: var(--yellow) ;
    font-weight: bolder;
}
.end-hr {
    border: 0.5vw dotted;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}
.author {
            color: var(--author-color);
}
.warning {
  color: var(--warning);
  text-align: center;
  animation: warning 1s both infinite alternate;
  
}
@keyframes warning {
       0% {color: var(--heading-red);}
       20% {color: var(--heading-red);}
       100% {color: var(--yellow);}
}
.contact-bg{
				background-color: var(--gray5);
				padding: 1em;
				border-radius: 1.2em;
        box-shadow: 0.3em 0.3em 0.7em 0em rgba(0, 0, 0, 0.25);
}
.update-bg{
  font-size: 0.9em;
  background-color: black;
  padding: 1em 1.5em;
  border-radius: 1.2em;
  color: var(--white-gray2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 1em 1em 2em 0em rgba(0,0,0,.7);
  
}
.update-h2 {
				color: var(--white-gray3);
				font-family: serif;
}

.candle {
                 margin-right: 5%;
}
.book-icon {
                        float: left;
                        margin: 10px;
}
.no-bullet {
              list-style: none;
              font-size: 6vmin;
              margin: 0px 0px 15px 0px;
}
.boxy-border {
              border: solid 3px;
              border-radius: 10px;
              padding: 10px;
              display: inline-block;
              
}
.gallery-img {
              width: 70%;
              height: 40%;
              border-radius: 25px;
              padding: 5px 0px 5px 0px;
              margin-left: auto;
              margin-right: auto;
              display: block;
}
.simple-underline-link {
  text-decoration: underline;
  font-family: Helvetica-local, sans-serif;
  text-underline-offset: 20%;
}
h5.h5-bigger {
  font-size: 5vmin;
}
.column {
  float: left;
  width: 45.5%;
  height: 30%;
  padding: 2%;
}
.container {
  margin: auto;
}
.img-100-width {
  width: 100%;
  border-radius: 5%;
}
.img-gallery {
  width: 100%;
  border-radius: 5%;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}
.gallery-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7%;
  row-gap: 5%;
}
.menu-list {
  list-style: none;
}
.menu-li {
  float: left;
}
.clear-both {
  clear: both;
}

/* Heading Image Style */
.heading-img {
  height: auto;
  width: 80vmin;
  margin: 0;
  padding: 0;
}



/* Minimum width */
@media (min-width: 960px) {

  /* Grid layouts */
.grid-container{
  display:grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

  .float-left-layout {
          float: left;
          width: 40%;
  }
  .right-margin {
          margin-right: 1%;
          width: 45%;
  }
  body {
          font-size: 1.3em;
          padding: 4vw;
  }
}

/* Grid layouts 
.grid-container{
                  display:grid;
                  gap: 1.5rem;
                  grid-template-columns: 1fr 1fr;
}
*/
/* Blog Styles */
.blog-heading {
                text-align: center;
                font-size: 2em;
}
.blog-date {
  text-align: center;
}
.part-1 {
         
          display: block;
}
.heading-blackpirate::after {
  content: '.com';
  font-size: 0.5em;
}
.quote {
  font-style: italic;
}
.quote::after {
  content: close-quote;
  font-size: 1.7em;
}
.quote::before {
  content: open-quote;
  font-size: 1.7em;
  font-style: normal;
}
.footer {
  font-size: 0.7em;
  line-height: 1.1;
  position: sticky;
}
.yesterweb {
  display: inline;
}

/* Form Styling */
.success-page {
width: 30%;
margin-left: 33%;
min-height: 25vh;
text-align: center;
place-items: center;
display: grid;
}
a.success-page-link{
  display: block;
}
a.success-page-link::before {
  content: '< ';
}
.success-img{
  place-items: center;
  display: grid;
  border-radius: 50%;
  margin-bottom: 1em;
}

input {
  background-color: var(--gray5);
  color: white;
  border-bottom:  solid 1px var(--accent-link);
  border-radius: .5em;
  min-height: 2.8em;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
  padding: 0.4em;
}
textarea {
  background-color: var(--gray5);
  color: white;
  border-bottom: solid 1px var(--accent-link);
  border-radius: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  min-height: 10em;
  min-width: 95%;
  padding: 10px;

}

input:focus {
  outline:none;
  border-bottom: solid 1px var(--light-blue);
}
textarea:focus {
  outline:none;
  border-bottom: solid 1px var(--light-blue);
}
.submit-button {
  background-color: var(--accent-link);
  color: black;
  width: 5em;
  height: 2.5em;
  border-radius: 0.3em;
  font-size: 1.3em;
  border: none;
}