body {
		font-family: Helvetica;
		padding: 5vw 5vw 5vw 5vw;
		background-color: black;
		color: white;
		}
		
.heading {
			color:red;
			font-size: 6.2vw;
		} 
		
.para {
			
		}
 
a {
	color: yellow;
}		