<hr/>
<br/>
<div class="footer">
    <p class="yesterweb">
        <a href="https://yesterweb.org/webring/">Yesterweb Webring</a>
        ~
        <a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://blackpiratex.com/">Previous</a>
        //
        <a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://blackpiratex.com/">Random</a>
        //
        <a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://blackpiratex.com/">Next</a>
    </p>
    <p>
        <a href="https://webring.bucketfish.me/">bucket webring!</a>
        ~
        <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=blackpiratex">Previous</a>
        //
        <a href="https://webring.bucketfish.me/redirect.html?to=next&name=blackpiratex">Next</a>
    </p>

    <p>
        <a href="https://webring.dinhe.net/prev/https://blackpiratex.com">Previous</a>
        //
        <a href="https://webring.dinhe.net/">The Retronaut Webring</a>
        //
        <a href="https://webring.dinhe.net/next/https://blackpiratex.com">Next</a>
    </p>
    <p>
        <a href="/credits/">credits</a>
    </p>
</div>
<div class="footer-images">
  <a href="mailto:sudip@blackpiratex.com"><img src="/media/email.gif" alt=""></a>
  <img src="/media/bookmark_this_page.gif" alt="">
  <a href="https://links.blackpiratex.com/github"></a><img src="/media/github_button.gif" alt="">
  <img src="/media/communism.gif" alt="">
  <a href="https://links.blackpiratex.com/mastodon"><img src="/media/mastodon-button-1.gif" alt=""></a>
  <a href="https://landchad.net"><img src="/media/landchad.gif" alt=""></a>
</div>


</body></html>
