<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ .Summary }}">
        <meta property="og:image" content="/media/favicon.ico">
        <meta property="og:description" content="A place to share myself to the world, through images, blogs, links and texts.">
        <meta property="og:title" content="Homepage of Sudip(BlackPiratex)">
        {{ $prefetchHosts := .Site.Params.prefetchHosts }}
        {{ if not $prefetchHosts }}
        {{ $prefetchHosts = slice "//fonts.googleapis.com" "//fonts.gstatic.com" "//cdn.jsdelivr.net" "//gallery.blackpiratex.com" }}
        {{ end }}
        {{ range $prefetchHosts }}
        <link rel="dns-prefetch" href="{{ . }}">
        {{ end }}
        <link rel="icon" type="image/x-icon" href="/media/favicon.ico">
        <link rel="stylesheet" href="/css/less.css">
        <title>{{ .Title }}</title>

    </head>
    <body>
