* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.full-page {
    position: relative;

}
.sidebar-left, .sidebar-right, .middle-content{
    padding: 0.5rem;
    height: auto;
    min-width: 300px;
}
.sidebars {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.heading {
    height: 15%;
    background-color: navy;
    margin: 0;
    color: white;
    font-size: 5rem;
    text-align: center;
}
.sidebar-left {
    background-color: green;
    width: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: row;
}
.sidebar-right {
    background-color: green;
    width: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: row;
}
.middle-content {
    background-color: white;
    width: 50%;
    max-width: 50%;
    padding: 0.5rem;

}

.sidebar-heading {
    font-size: 3rem;
    text-align: left;
    font-weight: 900;
    color: white;
    padding-left: 1rem;
}

p {
    font-size: 1.3rem;
    margin: 0.25rem;
}
a {
    color: rgb(189, 214, 189);
    text-decoration: underline;
}
.mepic {
    width: 50%;
    height: 100%;
    object-fit: cover;

}
.mypic {
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.welcome-text {
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    color: black;
}
.individual-link a {
    color: black;
}
.homepage-inks {
    display: flex;
    flex-direction: row;
}
.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: navy;
}


.about {
    background-color: green;
    width: 100%;
    font-size: 1rem;
    color: white;
    margin: 0.25rem;
}

.tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    color: black;
}
.taglinep {
    font-size: 2rem;
    font-style: italic;
    text-align: center ;
}