{{- partial "head.html" . -}}
<div class="full-page">
    <div class="heading">
        <h1>BlackPirateX</h1>
    </div>
    <div class="sidebars">
    <div class="sidebar-left">
       
        
        <div class="gallery"></div>
        <div class="contact"></div>
    </div>
    <div class="middle-content">
        <p class="welcome-text">WELCOME!</p>
        <div class="tagline">
            <p class="taglinep">Days of me forgetting are over, days of me remembering have just began.</p>
        </div>
        <hr>
        <div class="homepage-links">
            <div class="individual-link"><a href="">Blog</a></div>
            <div class="individual-link"></div>
            <div class="individual-link"></div>
            <div class="individual-link"></div>
            <div class="individual-link"></div>
            <div class="individual-link"></div>
        </div>
    </div>
    <div class="sidebar-right">
    <div class="about">
        <div class="mypic">
            {{ $me := resources.Get "img/me.jpg" }}
            {{ $me := $me.Resize "300x webp q50" }}
            <img src="{{ $me.RelPermalink }}" alt="" srcset="" class="mepic">
            <p class="img-caption">Me, as seen by my <a href="">my friend.</a></p>
        </div>
        <h3 class="sidebar-heading">About Me!</h3>
        <p>Hey, stranger on the internet. Hope you're doing well. I'm Sudip. This is a personal place for me on the internet. This is a also a place for me to experiment all the new things I learn about web developmet.

            I am currently studying zoology. Making website is one of my hobbies. And I love ducks and cats.</p>
            <hr>
            <p><a href="https://instagram.com/su_dip2187">Instagram</a> * <a href="https://youtube.com/channel404/">Youtube</a> * <a href="https://github.com/blackpirateapps">Github</a></p>
    </div>
    </div>
</div>
<div class="footer">
    <p>Made by Blackpiratex</p>
</div>
</div>