{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ with .Content }}{{ . }}{{ end }}
<ul class="content-list">
  {{ range .Pages.ByDate.Reverse }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ with .Date }}
    <div class="content-meta">{{ .Format "2006-01-02" }}</div>
    {{ end }}
    {{ with .Params.tags }}
    <div class="tag-list">
      {{ range . }}
      <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
