{{ define "main" }}
<section class="home-intro">
  <div class="home-avatar">
    {{ $me := resources.Get "img/selfie/me1.jpg" }}
    {{ if $me }}
      {{ $me = $me.Resize "200x q85" }}
      <img src="{{ $me.RelPermalink }}" alt="{{ site.Params.author | default "Sudip" }}" class="avatar-img">
    {{ end }}
  </div>
  
  <h1 class="home-title">{{ site.Title }}</h1>
  
  <div class="home-bio">
    {{ with site.Params.about }}
      {{ . | markdownify }}
    {{ else }}
      {{ with site.Params.tagline }}
        <p class="tagline">{{ . }}</p>
      {{ else }}
        <p>Welcome to my website. I write about technology, thoughts, and share my books and cinema reviews.</p>
      {{ end }}
    {{ end }}
  </div>
</section>

{{ partial "home-feed.html" . }}
{{ end }}
