{{ $tmdbId := .Params.tmdb_id }}
{{ $type := .Params.type }} {{/* movie or show */}}
{{ $typeKey := cond (eq $type "show") "tv" "movie" }}
{{ $apiKey := site.Params.tmdb_api_key | default "61c9bbbefe48beed3b4f02f0cc4794e7" }}

{{ $posterUrl := "" }}
{{ if $tmdbId }}
  {{ $apiUrl := printf "https://api.themoviedb.org/3/%s/%v?api_key=%s" $typeKey $tmdbId $apiKey }}
  {{ $res := try (resources.GetRemote $apiUrl) }}
  {{ if not $res.Err }}
    {{ with $res.Value }}
      {{ $data := . | transform.Unmarshal }}
      {{ with $data.poster_path }}
        {{ $posterUrl = printf "https://image.tmdb.org/t/p/w500%s" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<div class="poster-container h-full w-full">
  {{ if $posterUrl }}
    <img src="{{ $posterUrl }}" alt="{{ .Title }}" class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110" loading="lazy">
  {{ else }}
    <div class="h-full w-full flex items-center justify-center p-4 text-center bg-zinc-800 poster-placeholder">
      <i data-lucide="image" class="w-8 h-8 text-zinc-700"></i>
    </div>
  {{ end }}
</div>

