{{ partial "header.html" . }}

<div id="post">
    <div id="wrapper">
        <article class="norm">
            <h2 id="title">Tags</h2>
            <p class="thoughts-meta">{{ len .Data.Terms }} topics found.</p>

            <ul class="writeas-list">
                {{ range $name, $taxonomy := .Data.Terms }}
                <li class="writeas-list-item">
                    <span class="writeas-list-date">{{ $taxonomy.Count }}</span>
                    <div class="writeas-list-main">
                        <a class="writeas-list-title" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">#{{ $name }}</a>
                        <span class="writeas-list-tags">
                            {{ if eq $taxonomy.Count 1 }}post{{ else }}posts{{ end }}
                        </span>
                    </div>
                </li>
                {{ end }}
            </ul>

            {{ if eq (len .Data.Terms) 0 }}
            <p>No tags found. Add tags to your markdown posts frontmatter.</p>
            {{ end }}
        </article>
    </div>
</div>

{{ partial "footer.html" . }}
