<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
{{ if .IsHome }}
  {{ $mebig := resources.Get "img/me-collage.jpg" }}
  {{ $mebig = $mebig.Resize "1600x webp q80" }}
  <body class="home" style="--home-hero-image: url('{{ $mebig.RelPermalink }}');">
{{ else }}
  <body>
{{ end }}
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
