{{ define "main" }}
{{ $me := resources.Get "img/me-2.jpg" }}
{{ $me = $me.Resize "160x webp q30" }}


{{ $welcome := resources.Get "img/welcome.png" }}
{{ if $welcome }}
{{ $welcome = $welcome.Resize "600x webp q30"}}
<img src="{{ $welcome.RelPermalink }}" alt="" srcset="">
{{ end }}
{{ .Content }}

<h2>Recent Blog Posts</h2>
<ul>
  {{ range first 10 (sort (where .Site.RegularPages "Section" "blog") "Date" "desc") }}
  <li>{{ .Date.Format "01-02" }} - <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
<h2>Recent Thoughts</h2>
<ul>
  {{ range first 5 (sort (where .Site.RegularPages "Section" "thoughts") "Date" "desc") }}
  <li>{{ .Content }}</li>
  {{ end }}
</ul>
{{ end }}