{{ $blogPosts := sort (where .Site.RegularPages "Section" "blog") "Date" "desc" }}
{{ partial "header.html" . }}

<div id="post">
    <div id="wrapper">
        <article class="norm">
            <h2 id="title">Blog</h2>
            <p class="thoughts-meta">{{ len $blogPosts }} posts</p>

            <ul class="bearblog-list">
                {{ range $blogPosts }}
                <li class="bearblog-item">
                    <span class="bearblog-date">{{ .Date.Format "2006-01-02" }}</span>
                    <div class="bearblog-main">
                        <a class="bearblog-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        {{ if .Params.tags }}
                        <span class="bearblog-tags">
                            {{ range $index, $tag := .Params.tags }}
                                {{ if gt $index 0 }}<span class="bearblog-tag-sep">/</span>{{ end }}
                                <a class="bearblog-tag" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">#{{ $tag }}</a>
                            {{ end }}
                        </span>
                        {{ end }}
                    </div>
                </li>
                {{ end }}
            </ul>

            {{ if eq (len $blogPosts) 0 }}
            <p>No posts found yet.</p>
            {{ end }}
        </article>
    </div>
</div>

{{ partial "footer.html" . }}
