{{ $blogPosts := sort (where .Site.RegularPages "Section" "blog") "Date" "desc" }}
{{ partial "header.html" . }}

<div id="post">
    <div id="wrapper">
        <article class="norm blog-list-page">
            <h2 id="title">Blog</h2>

            <table class="blog-table">
                <tbody>
                    {{ range $blogPosts }}
                    <tr class="blog-row">
                        <td class="blog-date">{{ .Date.Format "Jan 02" }}</td>
                        <td class="blog-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
                        <td class="blog-tags">{{ range .Params.tags }}<span>#{{ . }}</span>{{ end }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>

            {{ if eq (len $blogPosts) 0 }}
            <p class="blog-empty">No posts yet.</p>
            {{ end }}
        </article>
    </div>
</div>

{{ partial "footer.html" . }}