{{ partial "header.html" . }}

<div id="post">
    <div id="wrapper">
        <article class="norm">
            <h2 id="title">{{ .Title }}</h2>
            <span class="authors">{{ .Params.author | default "Sudip" }}</span>
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Format "January 2, 2006" }}
            </time>

            {{ .Content }}

            {{ if .Params.tags }}
            <p class="post-tags">
                {{ range .Params.tags }}
                <a class="hashtag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                    <span>#</span><span>{{ . }}</span>
                </a>
                {{ end }}
            </p>
            {{ end }}
        </article>
    </div>
</div>

{{ partial "footer.html" . }}
