{{ partial "header.html" . }}

<div id="app-root">
    <h4 class="section-header">
        <i data-lucide="message-square" width="14"></i>
        {{ .Title | upper }}
    </h4>

    <div class="micro-feed">
        {{ range .Pages }}
        <div class="micro-item">
            <div class="micro-dot"></div>
            <div class="micro-header">
                <span>{{ .Date.Format "Jan 02, 2006" }}</span>
                <span>•</span>
                <span>{{ .ReadingTime }} min read</span>
                
                <span style="margin-left: 5px;">
                    <a href="{{ .Permalink }}" class="micro-permalink-icon" title="View Post">
                        <i data-lucide="external-link" width="12"></i>
                    </a>
                </span>
            </div>
            
            <div class="micro-content">
                {{ .Content }}
            </div>
        </div>
        {{ end }}
    </div>
</div>

<script>
    if (typeof lucide !== 'undefined') {
        lucide.createIcons();
    }
</script>

{{ partial "footer.html" . }}